@import "tailwindcss";

:root {
  --background: #f3e4e4;
  --foreground: #1a1010;
  --font-body: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #f04f39;
  --font-serif: var(--font-eb-garamond);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-eb-garamond), serif;
}
